/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --ion-background-color: #059037;
    --ion-background-color-rgb: 5,144,55;
  
    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;
  
    --ion-color-step-50: #058934;
    --ion-color-step-100: #058232;
    --ion-color-step-150: #047a2f;
    --ion-color-step-200: #04732c;
    --ion-color-step-250: #046c29;
    --ion-color-step-300: #046527;
    --ion-color-step-350: #035e24;
    --ion-color-step-400: #035621;
    --ion-color-step-450: #034f1e;
    --ion-color-step-500: #03481c;
    --ion-color-step-550: #024119;
    --ion-color-step-600: #023a16;
    --ion-color-step-650: #023213;
    --ion-color-step-700: #022b11;
    --ion-color-step-750: #01240e;
    --ion-color-step-800: #011d0b;
    --ion-color-step-850: #011608;
    --ion-color-step-900: #000e05;
    --ion-color-step-950: #000703;
  }