<ion-header>
  <ion-toolbar>
    <ion-title>
      Budtender
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" color="secondary" [routerLink]="['/get-sessions/']">
          <ion-icon slot="start" name="flame" style="zoom:1.0"></ion-icon>
          I Want to Smoke
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" color="secondary" [routerLink]="['/add-session/']">
          <ion-icon slot="start" name="glasses" style="zoom:1.0"></ion-icon>
          I Smoked
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" color="secondary" [routerLink]="['/get-sessions/']">
          <ion-icon slot="start" name="time-outline" style="zoom:1.0"></ion-icon>
          View Past Sessions
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>